<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/gce0kpk.css" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Genshinpedia</title>
  </head>
  <body class="px-40">
    <%- include('partials/header'); -%>
    <div class="flex flex-wrap gap-2">
      <img
        class="rounded-full border-2 border-gray-800"
        src="https://api.genshin.dev/characters/<%= character.name.toLowerCase() %>/icon"
      />
      <div class="flex flex-col">
        <div class="flex flex-row items-center gap-2">
          <h1><%= character.name %></h1>
          <span>( <%= character.rarity %> <i class="fas fa-star"></i> )</span>
          <img
            class="w-5 h-5"
            src="https://api.genshin.dev/elements/<%= character.vision.toLowerCase() %>/icon"
          />
        </div>
        <h2><%= character.description %></h2>
        <!--- TODO: Convert into actual date. --->
        <span>Born <%= character.birthday %></span>
      </div>
    </div>
  </body>
</html>
